Source: golang-dnstap
Section: net
Priority: optional
Maintainer: Farsight Security, Inc. <software@farsightsecurity.com>
Build-Depends: debhelper (>= 9), dh-golang, golang-1.11-go,
 golang-github-miekg-dns-dev,
 golang-goprotobuf-dev,
 golang-github-farsightsec-go-framestream-dev (>= 0.3.0)
Standards-Version: 3.9.8
Vcs-Git: https://github.com/dnstap/golang-dnstap.git
Vcs-Browser: https://github.com/dnstap/golang-dnstap
XS-Go-Import-Path: github.com/dnstap/golang-dnstap

Package: dnstap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DNSTAP decoding tool
 DNSTAP is an encoding format for DNS server events.  This package
 provides a tool to read DNSTAP messages from a file, TCP/IP, or Unix
 socket and output in DNS text or YAML.

Package: golang-github-dnstap-go-dnstap-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 golang-github-miekg-dns-dev,
 golang-goprotobuf-dev,
 golang-github-farsightsec-go-framestream-dev (>= 0.3.0)
Description: Golang development code for DNSTAP
 dnstap implements an encoding format for DNS server events. It uses
 a lightweight framing on top of event payloads encoded using Protocol
 Buffers and is transport neutral.
